* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 1500px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-body {
  width: 80%;
  margin: auto;
}

nav {
  width: 100%;
  border-bottom: 4px solid #009688;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}
nav ul li {
  margin: 20px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #009688;
  font-size: 20px;
  font-weight: bold;
}

nav ul li a:hover {
  color: #fff;
  background-color: #009688;
  padding: 10px;
}
/*articles-list*/
.title-articles-list{
  margin: 30px 0;
}
.article-page {
  text-decoration: none;
  color: #333;
}
.article-pagarg{
  line-height: 2;
}
hr {
  height: 2px;
  color: #009688;
}
.other-article{
  border-bottom: 2px solid;
  width:200px ;
  color: #009688;
}